In [1]:
# Q1. my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", 'banana', 'cherry'), [7, 8, 9] )
# • Print all elements from my_tuple on a new line (using for loop)
# • Create a new tuple by concatenating the first and last elements of my_tuple

In [2]:
# Print all elements from my_tuple on a new line (using for loop)
my_tuple = ( (1, 2, 3), [4, 5, 6], ("apple", 'banana', 'cherry'), [7, 8, 9] )

for i in my_tuple:
    print (i)

# Create a new tuple by concatenating the first and last elements of my_tuple
my_new_tuple = my_tuple[0] + tuple (my_tuple [3])
print (my_new_tuple)

(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]
(1, 2, 3, 7, 8, 9)

In [3]:
# Q2. inventory = { "The Great Gatsby": {"price": 10.99, "quantity": 5}, "Rich dad poor dad": {"price": 8.99, "quantity": 8},
# "Harry Potter": {"price": 12.50, "quantity": 2}, }
# •	Add a new book in inventory using method and get all book titles using method
# •	Remove a book if it's out of stock

In [4]:
inventory = { 
    "The Great Gatsby": {"price": 10.99, "quantity": 5}, 
    "Rich dad poor dad": {"price": 8.99, "quantity": 0},
    "Harry Potter": {"price": 12.50, "quantity": 4}, 
}

# •	Add a new book in inventory using method and get all book titles using method
inventory.update({"Robin Sharma": {"price" : 13.99, "quantity": 6}} )

book_title = inventory.keys() 
print (book_title)

# •	Remove a book if it's out of stock
for key,value in list (inventory.items()):
    for k,v in list(value.items()):
        if v ==0:
             del inventory[key]
print (inventory)

dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'Robin Sharma'])
{'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Harry Potter': {'price': 12.5, 'quantity': 4}, 'Robin Sharma': {'price': 13.99, 'quantity': 6}}

In [5]:
# Q3. An ecommerce store stores information about its products in a nested dictionary. 
# The outer dictionary uses product IDs as keys, and the inner dictionary stores product details like name, category, price, and stock quantity.
# products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
#             102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
#             103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} }
# •	Increase the stock of the "Shirt" product (add 50 more units)
# •	Add a new product (e.g., "Smartphone")

In [6]:
products = { 101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50}, 
            102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
            103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30} 
           }

# •	Increase the stock of the "Shirt" product (add 50 more units)
products [102]['stock']= 250
print (products)

# •	Add a new product (e.g., "Smartphone")
products[104]={'name':"Smartphone", "category" : "Electronics", "price" : 2500, "stock" : 20}
print (products)

{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}}
{101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 2500, 'stock': 20}}

In [7]:
# Q5. You are managing a list of students enrolled in two different courses. You need to perform various set operations to understand the student
# enrollment. Task: Create two sets: one for students in "Course A" and one for students in "Course B". 
# Find the students who are in "Course A" but not in "Course B" (difference). 
# Find students who are only in one of the two courses (symmetric difference). 
# course_a = {"John", "Alice", "Bob", "David"} course_b = {"Alice", "Eve", "Charlie", "David"}
# •	Find students who are in Course A but not in Course B (difference)
# •	Find students who are only in one of the two courses (symmetric difference)

In [8]:
course_a = {"John", "Alice", "Bob", "David"} 
course_b = {"Alice", "Eve", "Charlie", "David"}

# •	Find students who are in Course A but not in Course B (difference)

print (course_a.difference(course_b))

# •	Find students who are only in one of the two courses (symmetric difference)

print (course_a.symmetric_difference (course_b))

{'John', 'Bob'}
{'Eve', 'Bob', 'Charlie', 'John'}

In [9]:
dir(set())

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [10]:
# Q6. Write a Python program that calculates the sum of all even numbers between 1 and 50 (inclusive) using a for loop.
# Hint
# 1.	Initialize a variable to hold the sum (e.g., sum_of_evens).
# 2.	Use a for loop to iterate through all numbers from 1 to 50.
# 3.	Inside the loop, check if the number is even.
# 4.	If the number is even, add it to sum_of_evens.
# 5.	After the loop finishes, print the total sum of all even numbers between 1 and 50.

In [11]:
#Initialize a variable to hold the sum (e.g., sum_of_evens).
sum_of_even = 0

#Use a for loop to iterate through all numbers from 1 to 50.
for i in range (1,51):
    #Inside the loop, check if the number is even.
    if (i % 2) == 0:
        #If the number is even, add it to sum_of_evens.
        sum_of_even +=i
#After the loop finishes, print the total sum of all even numbers between 1 and 50.
print (f" The total sum of all even numbers between 1 and 50 :", sum_of_even)

# Additional done by myself
sum_of_odd = 0
for i in range (1,51):
    if (i % 2) != 0:
        sum_of_odd +=i
print (f" The total sum of all odd numbers between 1 and 50 :", sum_of_odd)
print ( "The sum of all numbers between 1 to 50: ",sum_of_even+ sum_of_odd)

 The total sum of all even numbers between 1 and 50 : 650
 The total sum of all odd numbers between 1 and 50 : 625
The sum of all numbers between 1 to 50:  1275

In [12]:
### Q7. Write a Python program that prints the multiplication table for a given number (between 1 and 10) using a for loop.

# Hint:
# 1.	Ask the user for a number between 1 and 10 .
# 2.	Use a for loop to iterate through the numbers from 1 to 10.
# 3.	For each iteration, calculate the product of the given number and the current number in the loop.
# 4.	Print the result in a readable format (e.g., 5 x 1 = 5).
# 5.	Ensure the program works correctly for any number between 1 and 10.

input_num = int (input ("Enter any number to show its table"))

for i in range (1,11):
    print ( f" {input_num} x {i} = {input_num*i}")

Enter any number to show its table 4

 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 4 x 10 = 40

In [13]:
# Q8. Power of a Number
# Write a Python program that takes a number and prints the powers of the number (starting from 1 to 10) using a while loop. 
# For example, if the user inputs 3, the output should be:
# 3^1 = 3
# 3^2 = 9
# 3^3 = 27
# ... up to 3^10.

In [14]:
input_num = int (input("Enter any number to find its power :"))

i= 1
while i <=10:
    print ( f" {input_num} ^ {i} = {input_num ** i}")
    i += 1

Enter any number to find its power : 4

 4 ^ 1 = 4
 4 ^ 2 = 16
 4 ^ 3 = 64
 4 ^ 4 = 256
 4 ^ 5 = 1024
 4 ^ 6 = 4096
 4 ^ 7 = 16384
 4 ^ 8 = 65536
 4 ^ 9 = 262144
 4 ^ 10 = 1048576

In [16]:
# Q9.  Problem Statement: Write a Python program that takes an integer input from the user and counts down from that number to 0. 
# The program should display the current number at each step until it reaches 0, at which point it should print a message indicating 
# the countdown is finished
# Output Hint:
# Enter a number to start the countdown:  3
#  3
#  2
#  1
#  0
#  Countdown finished!

In [24]:
n = int (input ("Enter a number to start the countdown: "))
for i in range (n,-1,-1):
    print (i)
    if i == 0:
        print ("Coundown is finished!")

Enter a number to start the countdown:  8

8
7
6
5
4
3
2
1
0
Coundown is finished!

In [25]:
# Q10. Write a Python program that takes an integer input n from the user and generates a right-angled triangle pattern of stars (*) with n rows. 
# The first row should contain 1 star, the second row 2 stars, the third row 3 stars, and so on until the nth row.
# Ensure the stars in each row are separated by spaces, and each row starts on a new line.
# # Pattern:
# *
# **
# ***
# ****
# *****

In [33]:
n = int (input("Enter the number to show right angle triangle pattern of stars "))

for i in range (1,n+1):
    print ("* " * i)

Enter the number to show right angle triangle pattern of stars  3

*
* *
* * *