In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('compensation data.csv')
df

,experience_coding,python_user,r_user,sql_user,most_used,compensation
0,6.1,True,False,True,Scikit-learn,124267
1,12.3,True,True,True,Scikit-learn,236889
2,2.2,True,False,False,NaN,74321
3,2.7,False,False,True,NaN,62593
4,1.2,True,False,False,Scikit-learn,36288
...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800
25969,1.4,True,False,False,PyTorch,62456
25970,0.0,False,False,False,NaN,923
25971,9.4,True,False,True,Scikit-learn,60609
25972,0.0,False,False,False,NaN,493

In [3]:
df.assign(Category=lambda x:x.experience_coding/2)

,experience_coding,python_user,r_user,sql_user,most_used,compensation,Category
0,6.1,True,False,True,Scikit-learn,124267,3.05
1,12.3,True,True,True,Scikit-learn,236889,6.15
2,2.2,True,False,False,NaN,74321,1.10
3,2.7,False,False,True,NaN,62593,1.35
4,1.2,True,False,False,Scikit-learn,36288,0.60
...,...,...,...,...,...,...,...
25968,1.9,True,False,True,Scikit-learn,15800,0.95
25969,1.4,True,False,False,PyTorch,62456,0.70
25970,0.0,False,False,False,NaN,923,0.00
25971,9.4,True,False,True,Scikit-learn,60609,4.70
25972,0.0,False,False,False,NaN,493,0.00